# idea
.idea/

#tmp
*.pyc
*~

#cpp lib
*.so
*.a
*.private

#dart
web/.pub
web/.pub/*
web/build/
web/build/*
web/packages
web/packages/*
web/.packages
pubspec.lock

*_private.py
*.sh
*.txt
*.log
*.out
/crawler/crawler/config_private.py
